body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segee UI',Roboto , "Helvetica Neue", Arial, sans-serif;
    background: #16171d;

    color:#9ca3af;
}
a {
    color:#9ca3af;
}


